{% extends 'base.html' %}

{% block 'title' %}Persons{% endblock %}

{% block 'menu' %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
        <a class="navbar-brand" href="#">Django CRUD</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'persons_list' %}">Persons<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Orders</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block 'content' %}

    <br>
    <a href="{% url 'persons_create' %}" class="btn btn-success">+ New Person</a>

    <br><br>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
            <th scope="col">Salary</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for person in persons %}
            <tr>
                <th scope="row">{{ person.id }}</th>
                <td>{{ person.first_name }}</td>
                <td>{{ person.last_name }}</td>
                <td>{{ person.age }}</td>
                <td>R$ {{ person.salary }}</td>
                <td>
                    <a href="{% url 'persons_delete' person.id %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'persons_update' person.id %}" class="btn btn-secondary">Update</a>
                </td>      
            </tr>
        {% endfor %}  
        </tbody>
      </table>

{% endblock %}
